body {
    background-color: black;
  }
  h1 {
    text-transform: uppercase;
    font-size: 2rem;
  }
  .poster {
    width: 25%;
    margin-left: 40%;
    margin-top: 100px;
    color: white;
    text-align: center;
    font-family: "Libre Baskerville", serif;
  }
  .motivation-img {
    border: 5px solid white;
    width: 100%;
  }
 .fly {
  width: 10%;
  margin-left: 48%;
  margin-top: 50px;
 }